<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ScheduleMapper">
    <insert id="registerSchedule" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO schedule
        (
        TITLE,
        content,
        color,
        repeat,
        start_t,
        end_t
        )
        values
        (
        #{title},
        #{content},
        #{color},
        #{repeat},
        #{startT},
        #{endT}
        )
    </insert>
    <select id="showSchedule" resultType="responseScheduleDTO">
        SELECT
        s.ID,
        s.TITLE,
        s.CONTENT,
        s.COLOR,
        s.REPEAT,
        s.START_T,
        s.END_T,
        (select array_to_string(array(SELECT file_url FROM file as f where f.post_id=s.id),',')) as file_urls
        FROM schedule s
        WHERE s.id = #{id}
    </select>
    <select id="selectSchedules" resultType="responseScheduleDTO"
            parameterType="selectScheduleDTO">
        SELECT
        s.ID,
        s.TITLE,
        s.CONTENT,
        s.COLOR,
        s.REPEAT,
        s.START_T,
        s.END_T,
        (select array_to_string(array(SELECT file_url FROM file as f where f.post_id=s.id),',')) as file_urls
        FROM schedule s
        <where>
            <if test="month != null">
                AND (TO_NUMBER(TO_CHAR(s.start_t, 'MM'), '99') = #{month} OR TO_NUMBER(TO_CHAR(s.end_t, 'MM'), '99') = #{month})
                <if test="week != null">
                    AND (TO_NUMBER(TO_CHAR(s.start_t, 'IW'), '99') = #{totalWeek} OR TO_NUMBER(TO_CHAR(s.end_t, 'IW'), '99') = #{totalWeek})
                </if>
            </if>
        </where>
        ORDER BY s.start_t
    </select>
    <insert id="insertUploadImage">
        insert into file
        (
        post_id,
        filename,
        file_extension,
        file_url
        )
        values
        (
        #{postId},
        #{filename},
        #{fileExtension},
        #{fileUrl}
        )
    </insert>
</mapper>